html,
body {
    height: 100%;
    background-color: #404040;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row{
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
