header{
    background-color: #2E75B6;
    border: solid white;
    border-width: 0 0 1px 0;
    padding: 10px;
    width: 100%;;
}

#logo{
    height: 60px;
    margin-left: 20px;
}

.title{
    display: inline-block;
    font-size: 30px;
    text-shadow: 3px 3px black;
    transform: translate(0,5px);
    margin-left: 20px;
}