header {
    background-color: #2E75B6;
    padding: 10px 0 10px 0;
    width: 400px;
    height: 56px;
}

main{
    padding-top: 20px;
}

.close{
    position: absolute;
    right: 10px;
}

.text{
    padding: 10px;
    font-size: 20px;
    width: 400px;
}

.subtitle{
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px #0079b6;
}

.option{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 60px;
}

mat-icon{
    margin-right: 20px;
}

.option:hover{
    background-color: rgb(235, 235, 235);
}

.title {
    font-size: 30px;
    color: white;
    text-align: center;
}

a:hover{
    cursor: pointer;
}